@if(websnap){
  <article class="web-snap-card">
    <h2>
      {{websnap.title | uppercase}}
    </h2>
  
    <img [src]="websnap.image" [alt]="websnap.title" />
    <p>
      <small>Créé le : {{websnap.createdDate | date:"dd/MM/YYYY"}}</small>
    </p>
    <p>
      {{websnap.description}}
    </p>
    <button 
      (click)="websnap.id && webSnapsService.onLikeWebsnapByID(websnap.id)" 
      [ngClass]="{
        'like-cta': !websnap.isLiked,
        'like-cta-active': websnap.isLiked
      }"
    >
      {{websnap.likes | number:"1.0-0"}} 👍🏻
    </button>
  </article>
}
@else{
  <article class="web-snap-card">
    <h2>
      Erreur
    </h2>
    <p>
      Le composant WebSnap a été invoqué sans données !
    </p>
  </article>
}